.background-footer-container{
  background: #17191C;
}

.footer__container{
  margin-top: auto;
}

.footer{
  color: #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: auto;
  padding-top: 45px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__column{
  display: flex;
  align-items: center;
}

.footer__column--right{
  align-items: flex-end;
}

.messenger__picture:hover{
  filter: grayscale(0.2);
}

.footer .logo{
  margin-right: 131px;
}

.footer .messenger{
  margin-right: 73px;
}

.messenger__list{
  display: flex;
}
.messenger__item{
  margin-right: 10px;
  width: 36px;
  height: 36px;
}

.messenger__item:last-child{
  margin-right: 0;
}

.messenger__link{
  display: block;
  margin-right: 10px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: relative;
}

.messenger__link:last-child{
  margin-right: 0;
}

.messenger__link::before{
  position: absolute;
  display: block;
  content: '';
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: opacity .3s;
}

.messenger__link::after {
  position: absolute;
  display: block;
  content: '';
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity .3s;
}

.messenger__link:hover::before {
    opacity: 0;
}
.messenger__link:hover::after {
    opacity: 1;
}


.messenger__link--tg::before {
    background: url('../pictures/sprite.png') no-repeat -10px -10px;
}
.messenger__link--tg::after {
    background: url('../pictures/sprite.png') no-repeat -10px -66px;
}

.messenger__link--vk::before{
  background: url('../pictures/sprite.png') no-repeat -56px -10px;
}

.messenger__link--vk::after{
  background: url('../pictures/sprite.png') no-repeat -56px -122px;
}

.messenger__link--facebook::before{
  background: url('../pictures/sprite.png') no-repeat -102px -10px;
}

.messenger__link--facebook::after{
  background: url('../pictures/sprite.png') no-repeat -102px -178px;
}

.messenger__link--inst::before{
  background: url('../pictures/sprite.png') no-repeat -148px -10px;
}

.messenger__link--inst::after{
  background: url('../pictures/sprite.png') no-repeat -148px -234px;
}

.footer .contacts__price{
  font-size: 11px;
  margin-bottom: 6px;
  margin-right: 0;
}

.services--wrapper .footer{
  padding-top: 49px;
}

