.leave-a-comment{
  background: #F4F5F5;
  padding-bottom: 97px;
}

.leave-a-comment__title{
  font-size: 48px;
  font-weight: bold;
  color: #1A1B1E;
  line-height: 1.1;
  padding-bottom: 64px;
}



.form__row{
  display: flex;
  margin-bottom: 24px;
}
.form__row:last-child{
  margin-bottom: 0;
}

.form__input{
  flex: 1;
  margin-right: 30px;
  border-radius: 5px;
  border: 1px solid transparent;
  background: #fff;
  padding: 20px 20px;
  font-size: 18px;
  color:#1A1B1E;
}

.form__input:focus{
  outline: 0;
  border-color: #8F00FF;
  border-width: 1px;
  border-style: solid;
}


.form__input::placeholder{
  color: #666;
}

.form__input:last-child{
  margin-right: 0px;
}

.form__input--textarea{
  height: 235px;
}

.form__controls{
  margin-bottom: 25px;
  display: flex;
}

.form__controls-title{
  margin-top: 15px;
  width: 38%;
  font-size: 18px;
  color: #1A1B1E;
}

.controls{
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.controls__item{
  margin-right: 20px;
  margin-bottom: 9px;
}

.controls__button{
  cursor: pointer;
}

.controls__checkbox:checked ~ .controls__tag{
  background: #B9EAE4;
}

.controls__checkbox{
  display: none;
}

.form__btn{
  display: flex;
  justify-content: flex-end;
}

.forms__btn{
  margin-right: 16px;
}

.forms__btn:last-child{
  margin-right: 0;
}
