a {
  color: inherit;
 }
 
 ul {
   padding: 0;
   margin: 0;
 }
 
 ul li {
   list-style: none;
 }
 
 h1, h2, h3, h4{
   margin: 0;
   font-weight: normal;
 }
 
 p {
   margin-top: 0px;
 }
 
 * {
   box-sizing: border-box;
 }
 
 .container{
   margin: 0 auto;
   width: 1140px;
 }

 :hover{
   transition: 0.5s;
 }